@charset "UTF-8";

/*
    320px — 480px: dispositivos móveis.
    481px — 768px: iPads, tablets.
    769px — 1024px: telas pequenas, laptops.
    1025px — 1200px: desktops, telas grandes.
    1201px e acima — telas muito grandes, TVs.
*/

@media screen and (min-width: 1025px) {
    header {
        background-repeat: repeat-x;
        background-size: auto;
    }

    h2 {
        font-size: 4em;
    }

    h3 {
        font-size: 3.3em;
    }

    p {
        font-size: 24px;
    }
}