@charset "UTF-8";

@font-face {
    font-family:'headerrr';
    src: url('../fontes/Empire.ttf') format(opentype);
}

@font-face {
    font-family: 'textos';
    src: url('fontes/Nauman-Regular.ttf')  format(opentype);
}

@font-face {
    font-family: 'titulos';
    src: url('fontes/BebasNeue-Regular.ttf') format(opentype);
}

:root{
 --cor0: #040FD9; 
 --cor1: #040DBF; 
 --cor2: #030A8C; 
 --cor3: #020659; 
 --cor4: #010440; 


 --fontpadrao:arial, verdana, helvetica, sans-serif;
 --fonttexto:'textos', sans-serif;
 --fonttitulos:'titulos', sans-serif; 
 --tituloheaderrr:'headerrr', serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

header {
    background-color: var(--cor1);
    background: black url("../imagens/img-capa.jpeg") repeat-x ;

}

header > h1 {
    font-family: var(--tituloheaderrr);
    color: white;
    font-weight: normal;
    text-align: center;
    padding: 38px;
    font-size: 3em;
    text-decoration: underline;
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

footer {
    background-color: black;
}

footer > p {
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 2em;
    font-family: var(--tituloheaderrr);
}