@charset "UTF-8";

@font-face {
    font-family:'headerrr';
    src: url('../fontes/Empire.ttf') format(opentype);
}

@font-face {
    font-family: 'textos';
    src: url('../fontes/Nauman-Regular.ttf')  format(opentype);
}

@font-face {
    font-family: 'titulos';
    src: url('../fontes/BebasNeue-Regular.ttf') format(opentype);
}

:root{
    --cor0: #040FD9; 
    --cor1: #040DBF; 
    --cor2: #030A8C; 
    --cor3: #020659; 
    --cor4: #010440; 


    --fontpadrao:arial, verdana, helvetica, sans-serif;
    --fonttexto:'textos', sans-serif;
    --fonttitulos:'titulos', sans-serif; 
    --tituloheaderrr:'headerrr', serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: black url("../imagens/espaço.jpeg") fixed;
}

header {
    background-color: var(--cor1);
    background: black url("../imagens/img-capa.jpeg") no-repeat ;
    background-size: cover;

}

header > h1 {
    font-family: var(--tituloheaderrr);
    color: white;
    font-weight: normal;
    text-align: center;
    padding: 38px;
    font-size: 3em;
    text-decoration: underline;
    text-shadow: 2px 2px 2px black;
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

main h1, h2, h3 {
    text-align: center;
    font-family: var(--fonttitulos);
    font-weight: 500;
    font-size: 45px;
    padding-top: 60px;
}

p {
    text-align: center;
    font-family: var(--fonttexto);
    font-weight: 900;
    font-size: 20px;
    line-height: 2em;
    padding: 50px;
}

ol {
    list-style-position: inside;
}

li {
    padding: 30px;
    font-size: 22px;
    font-weight: 900;
    line-height: 31px;
    font-family: var(--fonttexto);
    text-align: justify;
}

img {
    width: 100%;
}

img#pedralunar {
    border-radius: 30px;
    width: 80%;
    display: block;
    margin: auto;
}

img#fotolua {
    
    margin-top: 200px;
    margin-bottom: 200px;
}

div#fotolua {
    margin: -15px;
    margin-bottom: 50px;
}

a{
    padding: 5px;
    color: var(--cor0);
    text-decoration: none;
}
a:hover{
    background-color: black;
    transition-duration: 2s;
    border-radius: 25px;
    text-decoration: none;
}

strong {
    color: var(--cor2);
    font-weight: bolder;
}

u {
    color: var(--cor2);
    font-weight: bolder;
}


footer {
    background-color: black;
}

footer > p {
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 2em;
    font-weight: normal;
    font-family: var(--tituloheaderrr);
}